
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
	overflow: hidden;
}

#screen {
	cursor: hand;
	cursor: pointer;
	z-index: 10;
	position: absolute;
}

#colorLabel {
	z-index: 100;
	font-family: 'Raleway', sans-serif;
	color: #C9C9C9;
	font-size: 6em; 
	display: block;
	padding: 0;
	margin: 0;
	margin-left: 33%;
	position: absolute;
	top: 42%;
}

.audio {
	z-index: 1;
}